/* !****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/public/css/index.css ***!
  \  ****************************************************************************/
body {
  font-family: "Helvetica Neue", helvetica, arial, "Lucida Grande", "LiHei Pro", "WenQuanYi Zen Hei", "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #505050;
  background-color: #F5F5F5;
}

h1 {
  text-align: center;
}

// reset new css reset
a,
label,
button,
input[type="radio"],
input[type="submit"],
input[type="checkbox"] {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}
