.swiper-container {
  width: 100%;
  height: 50px;
  background: #000;

  .swiper-slide {
    /* Center slide text vertically */
    //   display: box;
    // display: flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #EEE;
    text-align: center;

    //   background: #FFF;
  }

  div.swiper-button-prev,
  div.swiper-button-next {
    color: yellow;

    // filter: sepia(100%) hue-rotate(188deg) brightness(5000%) contrast(103%);
  }
}
